@import "tailwindcss";

@theme {
  --font-sans: var(--font-zen-maru-gothic), ui-sans-serif, system-ui;
  --font-header: var(--font-monomaniac-one);
  --font-accent: var(--font-cherry-bomb-one);
}

body {
  font-family: var(--font-sans),;
}
